
.bg{
	background-image: url("../../images/ae_3.jpg");
	top: 0;
	bottom: 0;

}
.divCentrado{
	margin: 0 auto;
	width: 80%;
}
.divColorVerde{
	background-color: rgba(0, 13, 90,1);
	border: 5px solid #acc90d;
	border-radius: 10px;
	height: 200px;
	margin-top: 50px;
}
.inventarioIMG{
	text-align: center;
	width: 100%;
	padding-top: 5px;
}
.inventarioTitle{
	background: #acc90d;
	height: 17%;
	margin-bottom: 0px;
}
.divColorVerde h3	{
	color: white;
}
.blanco
{
	color: #fff
}
#materiaPrimaExistente{
	display: none;
}
 .oculta, #capitalSubrubro{

    display: none;
  }

  .resaltar{
   /*background-color: #d3dddd;*/
  }
.contenedorNegocios{
	background-image: url('../../images/ae_3.jpg');
	border: #fff;
	border-width: 5px;
	border-style: solid;
	font-weight: bold;
	height: 400px;
}

.negociosT th{
	background: #000d5a;
	margin: 0;
	color: #fff;
	font-weight: bold;
}

.negociosD th{
	background: #000d5a;
	margin: 0;
	font-weight: bold;
}

.negociosD td{
	color: #000;
}

.detalleB th{
	background: #000d5a;
	color: #fff;
	margin: 0;
	font-weight: bold;
}

.detalleB td{
	color: #000;
}


.negociosT  td{
	background-color: rgba(0, 13, 90, 0.2);
	color: #fff;
	font-weight: bold;
	border: #000d5a;
	border-bottom-style: solid;
}

.negociosT  tr:hover{
	background-color: rgba(0, 13, 90, 0.5);
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}
.totalCapital{
	background-color: rgba(0, 13, 90, 0.05);

}
#cantidadVender{
	border: 2px solid #000d5a
}
.oculto{
    display: none;
  }
.noOculto{
display: inline;
}